# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

# > ## Question 1.  Import `pandas` (as `pd`).

In [4]:
import pandas as pd

# TODO
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [5]:
df = pd.read_csv(filepath_or_buffer= "../data/dataset-02-ozone.csv")

> ## Question 2.  Display a few lines of the dataset to the screen.

In [6]:
df
 # if i have to read say first 10 lines
df.head(n=10)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6
6   23.0    299.0   8.6    65      5    7
7   19.0     99.0  13.8    59      5    8
8    8.0     19.0  20.1    61      5    9
9    NaN    194.0   8.6    69      5   10

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [7]:
len(df.index) # len is the command for len and index is the term for rows

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [56]:
list(df)
# still not one per line ???

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [46]:
len(df.columns)

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [51]:
df.iloc[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [53]:
df.iloc[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [99]:
# i want value of column 1 in 47+1 as in python we start from 0
df.iloc[48]['Ozone']

20.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [106]:
sum(pd.isnull(df['Ozone']))

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [157]:
df2=df.dropna() # in df2 i dont have any Nan
df2['Ozone'].mean(axis=0) # asking to take mean in df2 for ozone and the take mean for ozone

42.0990990990991

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [291]:
Ozone_v= df['Ozone']>31
Temp_v= df['Temp']>90
df3=df[Ozone_v & Temp_v]
df3

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      6    8
69    97.0    272.0   5.7    92      6    9
119   76.0    203.0   9.7    97      6   28
120  118.0    225.0   2.3    94      6   29
121   84.0    237.0   6.3    96      6   30
122   85.0    188.0   6.3    94      6   31
123   96.0    167.0   6.9    91      6    1
124   78.0    197.0   5.1    92      6    2
125   73.0    183.0   2.8    93      6    3
126   91.0    189.0   4.6    93      6    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [285]:
# check for Nan in Solar.R
sum(pd.isnull(df3['Solar.R']))
df3['Solar.R'].mean(axis=0)

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [ ]:
df.loc[df['Month']==6,'Temp'].mean(axis=0)
#i think this is wrong

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [289]:
#F_df=df['Month']==5
#F_df.loc[F_df['Ozone'].idmax()]
df.max()

Ozone      168.0
Solar.R    334.0
Wind        20.7
Temp        97.0
Month        6.0
Day         31.0
dtype: float64

In [290]:
# i messed up the months column and cant seem to get question 13 and 14 to come out correct